
*{
    padding: 0px;
    margin: 0px;
}
body{
    margin-left:auto;
    margin-right:auto;
    margin-top: 5px;
    width:90%;
}
#app{
    display:grid;
    grid:
       "header header" 220px
       "main aside"/minmax(650px,65%) minmax(350px,35%);
       gap:minmax(10px,1%) 5px;
}
header{
grid-area:header;
}
main{
    grid-area: main;
    display: flex;
    flex-direction: column;
}
aside{
    grid-area:aside;
}