
*{
    padding: 0px;
    margin: 0px;
}
body{
    margin-left:auto;
    margin-right:auto;
    margin-top: 5px;
    width:90%;
}
#app{
    display:grid;
    grid:
       "header header" 300px
       "pack hotbuy"/65% 35%;
       gap:10px 5px;
}
header{
grid-area:header;
}
#main{
    grid-area: main;
}
#aside{
    grid-area:aside;
}